In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("news-links-with-id.csv", keep_default_na=False)
df2 = pd.read_csv("fake-names.csv", keep_default_na=False)

In [4]:
df1.head()

        id                                           newslink
0  6290375  http://archive.redding.com/news/ex-chp-officer...
1  7187899      http://archive.signalscv.com/archives/150962/
2  6646879  http://archive.vcstar.com/news/guilty-officer-...
3  6993951  http://archive.vcstar.com/news/local/sheriffs-...
4  1335727  http://archive.vcstar.com/news/sheriffs-deputy...

In [5]:
df2.head()

      code fake_first_name fake_last_name
0  1002907            Jada         O'Shee
1  1014011          Turner        Hartnup
2  1039288           Danit          Haxby
3  1058674          Lynnea         Fibbit
4  1063462             Jon           Cahn

In [6]:
print("Length of news links document: ", len(df1))
print("Length of fake names document: ", len(df2))

Length of news links document:  458
Length of fake names document:  1000

## Joining the data

To join data, you'll need a common column between the two datasets. Additionally, you'll need to decide which of the two tables takes precedent in the join. Pandas uses four types of joins:

* inner - The joined data will only have results that appear in both datasets that are connected.
* outer - The joined data will preserve everything, even if it doesn't find a match.
* left - Keep everything in left table, bring over only matches it finds in right table.
* right - Keep everything in right table, bring over only matches it finds in left table.

<img src="joins.png?" width="50%" height="auto" style="display:block;margin-left:auto;">

In [7]:
joined_data = pd.merge(df1, df2, how='left',left_on=['id'], right_on=['code'])
joined_data.head()

,id,newslink,code,fake_first_name,fake_last_name
0,6290375,http://archive.redding.com/news/ex-chp-officer...,6290375,Kiel,Munby
1,7187899,http://archive.signalscv.com/archives/150962/,7187899,Darline,Maharry
2,6646879,http://archive.vcstar.com/news/guilty-officer-...,6646879,Constantina,Sansam
3,6993951,http://archive.vcstar.com/news/local/sheriffs-...,6993951,Palmer,Dispencer
4,1335727,http://archive.vcstar.com/news/sheriffs-deputy...,1335727,Kent,Emons

In [8]:
len(joined_data)

458